{% extends "base.html" %}

{% block lab %}Заказ зерна{% endblock %}

{% block main %}
    <h1>Оформить заказ зерна</h1>
    <form method="post">
        <label for="grain">Выберите зерно:</label>
        <select id="grain" name="grain">
            <option value="ячмень">Ячмень</option>
            <option value="овёс">Овёс</option>
            <option value="пшеница">Пшеница</option>
            <option value="рожь">Рожь</option>
        </select>

        <div>
            <label for="weight">Вес (в тоннах):</label>
            <input type="number" id="weight" name="weight" step="0.1">
        </div>

        <button type="submit">Заказать</button>
    </form>

    {% if error %}
        <div style="color: red; font-weight: bold;">{{ error }}</div>
    {% endif %}

    {% if message %}
        <div style="color: green; font-weight: bold;">{{ message }}</div>
    {% endif %}

    {% if discount_message %}
        <div style="color: blue;">{{ discount_message }}</div>
    {% endif %}
{% endblock %}
