{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной работы - Формы (POST) </div>

        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.pages }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
