{% extends "base.html" %}

{% block main %}
<h1>Редактировать статью</h1>
<form action="{{ url_for('lab8.edit_article', article_id=article.id) }}" method="post">
    <div>
        <label for="title">Заголовок:</label>
        <input type="text" id="title" name="title" value="{{ article.title }}" required>
    </div>
    <div>
        <label for="article_text">Текст статьи:</label>
        <textarea id="article_text" name="article_text" required>{{ article.article_text }}</textarea>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>
{% endblock %}
