{% extends "base.html" %}
{% block lab %}Редактировать книгу{% endblock %}
{% block main %}
<h1>Редактировать книгу</h1>
<form method="post" action="{{ url_for('rgz.edit_book', book_id=book.id) }}">
                    <label>Название: <input type="text" name="title" value="{{ book.title }}" required></label><br>
                    <label>Автор: <input type="text" name="author" value="{{ book.author }}" required></label><br>
                    <label>Количество страниц: <input type="number" name="pages" value="{{ book.pages }}" required></label><br>
                    <label>Издатель: <input type="text" name="publisher" value="{{ book.publisher }}" required></label><br>
                    <button type="submit">Сохранить</button>
                </form>
                <a href="{{ url_for('rgz.books_list') }}">Вернуться к списку</a>
{% endblock %}


{% extends "base.html" %}
{% block lab %}Добавить книгу{% endblock %}
{% block main %}
<h1>Добавить книгу</h1>
<form method="post">
    <label>Название: <input type="text" name="title" required></label><br>
    <label>Автор: <input type="text" name="author" required></label><br>
    <label>Количество страниц: <input type="number" name="pages" required></label><br>
    <label>Издатель: <input type="text" name="publisher" required></label><br>
    <label>Путь к обложке: <input type="text" name="cover" placeholder="static/covers/example.jpg" required></label><br>
    <button type="submit">Добавить</button>
</form>
<a href="{{ url_for('rgz.books_list') }}">Вернуться к списку</a>
{% endblock %}
