{% extends "base.html" %}

{% block title %}
    Лабораторная работа 2 - Фильтры
{% endblock %}

{% block main %}
    <div class="content">
        <div>Фраза: {{ phrase }}</div>
        <div>Фраза: {{ phrase | title }}</div>
        <div>Фраза: {{ phrase | striptags }}</div>
        <div>Фраза: {{ phrase | safe }}</div>
        <div>Фраза: {{ phrase | striptags | replace('сколько', 'много') | replace('нам', 'тут') | upper }}</div>
        <div>Фраза: {{ phrase | striptags | reverse }}</div>
    </div>
{% endblock %}
