{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Заказ напитка</h1>

    < form>
        ‹div>Напиток: </div>
        < label>
        </label>
        ‹label>
        </Label> <label>
        </Label>
        <input type=" radio" value="cofee" name="drink"• checked>кофе
        <input type=" radio" value="black-tea" name="drink">чёрный чай
        <input type="radio" value="green-tea" name="drink">зелёный чай
        <div>Добавки: </div>
        <label>
        <input type="checkbox" name="milk" >молоко
        </label>
        <Label>
        <input type="checkbox" name="sugar">сахар
        </label>
        <div>
        <button type="submit">3аказать</button>
        </div>
    </form>
{% endblock %}
