{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Cookies</h1>
    <form method="GET" action="/lab3/lab3/settings">
        <div>
            <label for="color">Выберите цвет текста:</label>
            <input type="color" id="color" name="color" value="{{ color or '#000000' }}">
        </div>
        <div>
            <label for="bg_color">Выберите цвет фона:</label>
            <input type="color" id="bg_color" name="bg_color" value="{{ bg_color or '#ffffff' }}">
        </div>
        <div>
            <label for="font_size">Выберите размер шрифта:</label>
            <input type="number" id="font_size" name="font_size" value="{{ font_size or '16' }}" min="10" max="36">
        </div>
        <div>
            <label for="bold">Жирный шрифт:</label>
            <input type="checkbox" id="bold" name="bold" {% if bold == 'on' %}checked{% endif %}>
        </div>
        <button type="submit">OK</button>
    </form>    
{% endblock %}
