{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Форма железнодорожного билета</h1>
    <form method="post">
        <div>
            <label for="fio">ФИО пассажира:</label>
            <input type="text" id="fio" name="fio" required>
        </div>
        <div>
            <label for="shelf">Полка:</label>
            <select id="shelf" name="shelf" required>
                <option value="нижняя">Нижняя</option>
                <option value="верхняя">Верхняя</option>
                <option value="верхняя боковая">Верхняя боковая</option>
                <option value="нижняя боковая">Нижняя боковая</option>
            </select>
        </div>
        <div>
            <label for="bedding">С бельём:</label>
            <input type="checkbox" id="bedding" name="bedding">
        </div>
        <div>
            <label for="baggage">С багажом:</label>
            <input type="checkbox" id="baggage" name="baggage">
        </div>
        <div>
            <label for="age">Возраст:</label>
            <input type="number" id="age" name="age" min="1" max="120" required>
        </div>
        <div>
            <label for="departure">Пункт выезда:</label>
            <input type="text" id="departure" name="departure" required>
        </div>
        <div>
            <label for="destination">Пункт назначения:</label>
            <input type="text" id="destination" name="destination" required>
        </div>
        <div>
            <label for="date">Дата поездки:</label>
            <input type="date" id="date" name="date" required>
        </div>
        <div>
            <label for="insurance">Нужна ли страховка:</label>
            <input type="checkbox" id="insurance" name="insurance">
        </div>
        <div>
            <button type="submit">Заказать билет</button>
        </div>
    </form>
{% endblock %}