{% extends 'base.html' %}

{% block main %}
    <h1>Статьи</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <ul>
            {% for article in articles %}
                <li>
                    <h2>{{ article['title'] }}</h2>
                    <p>{{ article['article_text'] }}</p>
                    <form action="{{ url_for('lab5.delete_article', article_id=article['id']) }}" method="post" style="display:inline;">
                        <button type="submit">Удалить</button>
                    </form>
                    <a href="{{ url_for('lab5.edit_article', article_id=article['id']) }}">Редактировать</a>
                </li>
            {% endfor %}
            <a href="/lab5">На главную</a>
        </ul>
    {% endif %}
{% endblock %}
