{% extends "base.html" %}

{% block title %}
    Список книг
{% endblock %}

{% block main %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0px;
            padding: 0px;
            background-color: #f4f4f4;
        }
        h1 {
            text-align: center;
            color: #333;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid #ccc;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        td {
            background-color: #fff;
        }
    </style>

    <h1>Список книг</h1>

    <table>
        <thead>
            <tr>
                <th>Автор</th>
                <th>Название</th>
                <th>Жанр</th>
                <th>Количество страниц</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.pages }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
